/* Updated container CSS */
.container {
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 100%;
}

.most_content {
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
}



/* Styling for notifications */
.notify {
    margin: 1em;
    font-size: 1.3em;
}

/* Styling for larger text */
.huge {
    font-size: 1.5em;
    font-weight: 700;
}

/* Styling for the filter container */
.filter_container {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0em;
width: 100%;
}

/* Button styling inside filter container */
.filter_container button {
    font-size: 2em;
}

/* Panel heading styling */
.panel-heading {
    margin: auto 2em auto;
    display: flex;
    justify-content: center; /* Horizontally center content for flex containers */
    align-items: center; /* This will center vertically, if needed */
    flex-direction: column; /* Stack children vertically */
}
/* Adjustments for Font Awesome icon */
.panel-heading .fa {
    /* If the icon is not taking full width, this will help center it */
    display: block;
}


/* Ensure the font awesome icons have some space around them */
.fa-5x {
    margin: 0.1em;
}

/* Adding box-shadow for depth and padding for spacing */
.panel {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Styling for depth */
    padding: 1em; /* Uniform padding */
    border-radius: 0.5em; /* Rounded corners */
    background-color: #333; /* Dark background for the panel */
    color: #fff; /* Light text for readability */
    height: 100%; /* Make sure all cards are the same height */
}



.notify {
    flex: 1; /* Allow the notification area to grow */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    width: 100%; /* Full width */
}






/*
css for anim

 */

.container{
    position: relative; !important;
    overflow: hidden; !important;
}

 /* Define keyframes for the disappearing animation */
  @keyframes disappear {
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  /* Define keyframes for the arrow rotation */
  @keyframes rotateArrow {
    to {
      transform: rotate(180deg);
    }
  }

  /* Class to be added for initiating the disappearance */
  .animate-disappear {
    animation: disappear 2s forwards; /* 2 seconds for the disappear animation */
  }

  /* Class to be added for rotating the arrow */
  .rotate-arrow {
    animation: rotateArrow 2s forwards; /* 2 seconds for the rotate animation */
  }

  /* Position the arrow */
.arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); /* Center vertically */
    /* ... existing arrow styles ... */
  }

.full-width-container {
width: 100vw;
max-width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.black-text{
    color: #238AE6;
    border-color: #238AE6 !important;
}

#download{
    font-size:3em;
    border: 3px solid white;
    color:white;
    padding: 0.5em;
    padding-left: .75em;
    padding-right: .75em;

    border-radius: 2em;
    margin-bottom: 1em;
    background: transparent;
    transition: 0.5s all linear;
}
#download:hover{
    cursor: pointer;
    border: 3px solid #238AE6;
    color: #238AE6;

}

#download:hover #downloadText{
    color:black;
}

#downloadText{
    font-size:2em;
    font-weight: 700;
}
@media only screen and (max-width: 767px) {
    /* CSS rules for phone devices */
    #downloadText{
        font-size:1.5em;

    }
    #download{
    font-size:2.5em;

    padding: 0.25em;
    padding-left: .5em;
    padding-right: .5em;

    border-radius: 1em;
    margin-bottom: .5em;
    }
}
