
body{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65));
        color: white;
        overflow-x: hidden;
      }
.large-checkbox {
            width: 30px; /* Adjust width as needed */
            height: 30px; /* Adjust height as needed */
            transform: scale(1.5); /* Makes the checkbox bigger */
            position: relative; /* Ensures correct positioning */
            top: 0.5rem; /* Adjust vertical position as needed */
        }
.lime{
  color: #009B00;
}


h1{
    font-size: 4em;
    font-weight: 700;
}
h2{
    font-size: 4em;
    font-weight: 700;
}

h3{
    font-size: 3em;
    color: #238AE6;
    font-weight: 700;
}


/* Custom scrollbar */


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3D3D3D;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #238AE6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a6fb3;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #238AE6 #3D3D3D;
}


table{
    font-size: 2em;
}